   <!--
      - CATEGORY
    -->

    <div class="category">

        <div class="container">
  
          <div class="category-item-container has-scrollbar">


{% for clasification in classifications %}
{% if clasification.productos_padre.count > 0  %}
            <div class="category-item">

              <div class="category-img-box">
                  <a href="{% url 'products:list' %}?classification_id_padre={{ clasification.id }}">
                <img src="{{ clasification.image.url }}" alt="{{ clasification.nombre }}" width="30">
                  </a>
              </div>
  
              <div class="category-content-box">
  
                <div class="category-content-flex">
                  <h3 class="category-item-title">{{ clasification.nombre }}</h3>
  
                  <p class="category-item-amount">(53)</p>
                </div>
  
                <a href="#" class="category-btn">Show all</a>
  
              </div>
  
            </div>
    {% endif %}
              {% endfor %}
  



  
          </div>
  
        </div>
  
      </div>