{% extends "../base.html" %}

{% block content %}
<style>
    /* Basic styles for responsiveness */
   .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem; /* Espaciado interno */
    font-size: 1rem; /* Tamaño de fuente */
    line-height: 1.5; /* Altura de línea */
    color: #495057; /* Color del texto */
    background-color: #fff; /* Color de fondo */
    background-clip: padding-box; /* Clip del fondo */
    border: 1px solid #ced4da; /* Borde */
    border-radius: 0.25rem; /* Bordes redondeados */
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; /* Transición */
}

.form-control:focus {
    color: #495057; /* Color del texto al enfocar */
    background-color: #fff; /* Color de fondo al enfocar */
    border-color: #80bdff; /* Color del borde al enfocar */
    outline: 0; /* Eliminar contorno */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Sombra al enfocar */
}

.form-control::placeholder {
    color: #6c757d; /* Color del texto de marcador de posición */
    opacity: 1; /* Opacidad del marcador de posición */
}

.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef; /* Color de fondo para campos deshabilitados */
    opacity: 1; /* Opacidad */
}

    section {
      background-color: #f8fafc;
      padding: 3rem 0;
    }

    @media (min-width: 640px) {
      section {
        padding: 5rem 0;
      }
    }

    .container {
      max-width: 1440px;
      margin: 0 auto;
      padding: 2rem;
    }

    @media (min-width: 1024px) {
      .container {
        padding: 3rem;
      }
    }

    .card {
      background-color: white;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
      border-radius: 0.5rem;
      overflow: hidden;
    }

    .card-header {
      display: flex;
      flex-direction: column;
      padding: 2rem;
      gap: 1.5rem;
    }

    @media (min-width: 1024px) {
      .card-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 0;
      }
    }

    .card-header-item {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .card-header-item h5 {
      color: #6b7280;
    }

    .card-header-item h5.bold {
      font-weight: bold;
    }

    .card-actions {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }

    @media (min-width: 768px) {
      .card-actions {
        flex-direction: row;
        align-items: center;
        gap: 1rem;
      }
    }

    .card-actions button,
    .card-actions a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.6rem 1rem;
      font-size: 0.875rem;
      font-weight: 500;
      border-radius: 0.5rem;
      transition: background-color 0.15s ease-in-out;
    }

    .card-actions button.primary {
      color: white;
      background-color: #4299e1;
    }

    .card-actions button.primary:hover {
      background-color: #3b82f6;
    }

    .card-actions button.secondary,
    .card-actions a.secondary {
      color: #111827;
      background-color: white;
      border: 1px solid #d1d5db;
    }

    .card-actions button.secondary:hover,
    .card-actions a.secondary:hover {
      background-color: #f3f4f6;
    }

    .card-body {
      overflow-x: auto;
    }

    .card-body-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2rem;
      gap: 2rem;
    }

    .card-body-content-item {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .card-body-content-item label {
      display: none;
    }

    .card-body-content-item input,
    .card-body-content-item select {
      width: 100%;
      padding: 1rem;
      font-size: 0.875rem;
      color: #111827;
      border: 1px solid #d1d5db;
      border-radius: 0.5rem;
      outline: none;
    }

    .card-body-content-item input:focus,
    .card-body-content-item select:focus {
      box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
    }

    .card-body-content-item svg {
      width: 1.5rem;
      height: 1.5rem;
      color: #6b7280;
    }

    .card-body-content-item svg.large {
      width: 1.2rem;
      height: 1.2rem;
    }

    .card-body-content-item svg.large path {
      stroke-width: 1.5;
    }

    .card-body-content-item svg.large.fill {
      fill: currentColor;
    }

    .card-body-content-item svg.large.stroke {
      fill: none;
    }

    .card-body-content-item input[type="text"] {
      position: relative;
    }

    .card-body-content-item input[type="text"] svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 1rem;
      pointer-events: none;
    }
  </style>



<section>
    <div class="container">
      <div class="card">
        <div class="card-header">
          <div class="card-header-item">
            <h5 style="color: #6b7280;">Mis Productos:</h5>
            <h5 style="color: #6b7280; font-weight: bold;">{{ productos.paginator.count }}</h5>
          </div>
          <div class="card-header-item">
            <h5 style="color: #6b7280;">Ingreso Total:</h5>
            <h5 style="color: #6b7280; font-weight: bold;">${{ total_sales|floatformat:2 }}</h5>
          </div>
          <div class="card-actions">
            <a href="{% url 'products:create' %}" style="display: flex; align-items: center; justify-content: center; padding: 0.6rem 1rem; font-size: 0.875rem; font-weight: 500; color: white; background-color: #4299e1; border-radius: 0.5rem; transition: background-color 0.15s ease-in-out; @media (hover: hover) {&:hover { background-color: #3b82f6; } }">
              <svg style="width: 1rem; height: 1rem; margin-right: 0.5rem;" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path clip-rule="evenodd" fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />
              </svg>
              Nuevo Producto
            </a>
            <a href="{% url 'products:mis_productos' %}" style="display: flex; align-items: center; justify-content: center; padding: 0.6rem 1rem; font-size: 0.875rem; font-weight: 500; color: #111827; background-color: white; border: 1px solid #d1d5db; border-radius: 0.5rem; transition: background-color 0.15s ease-in-out; @media (hover: hover) {&:hover { background-color: #f3f4f6; } }">
              <svg style="width: 1.2rem; height: 1.2rem; margin-right: 0.5rem;" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
              </svg>
              Actualizar stocks
            </a>
            <button type="button" style="display: flex; align-items: center; justify-content: center; padding: 0.6rem 1rem; font-size: 0.875rem; font-weight: 500; color: #111827; background-color: white; border: 1px solid #d1d5db; border-radius: 0.5rem; transition: background-color 0.15s ease-in-out; @media (hover: hover) {&:hover { background-color: #f3f4f6; } }">
              <svg style="width: 1.2rem; height: 1.2rem; margin-right: 0.5rem;" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5m-13.5-9L12 3m0 0l4.5 4.5M12 3v13.5" />
              </svg>
              Export
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="card-body-content">
            <div class="card-body-content-item">
              <label for="search-input" style="display: none;">Buscar</label>
              <div style="position: relative;">
                <div style="position: absolute; top: 50%; transform: translateY(-50%); left: 1rem; pointer-events: none;">
                  <svg style="width: 1.5rem; height: 1.5rem; color: #6b7280;" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                  </svg>
                </div>
                <input type="text" id="search-input" name="search_term" style="width: 100%; padding: 1rem; font-size: 0.875rem; color: #111827; border: 1px solid #d1d5db; border-radius: 0.5rem; focus:outline-none; @media (focus: focus) {&:focus { box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5); } }" placeholder="Buscar producto">
              </div>
            </div>
            <div class="card-body-content-item">
              <label for="category-select" style="display: none;">Categoría</label>
              <select id="category-select" style="width: 100%; padding: 1rem; font-size: 0.875rem; color: #111827; border: 1px solid #d1d5db; border-radius: 0.5rem; focus:outline-none; @media (focus: focus) {&:focus { box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5); } }">
                <option value="">Todas las categorías</option>
                {% for category in categories %}
                  <option value="{{ category.name }}">{{ category.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>



        <table style="width: 100%; font-size: 0.875rem; text-align: left; color: #6b7280;">
          <thead style="background-color: #f3f4f6; color: #374151; text-transform: uppercase;">
            <tr>
              <th scope="col" style="padding: 1rem;">
                <div style="display: flex; align-items: center; gap: 0.5rem;">
                  <input id="checkbox-all" type="checkbox" style="width: 1.5rem; height: 1.5rem; background-color: #f3f4f6; border: 1px solid #d1d5db; border-radius: 0.25rem; appearance: none; @media (focus: focus) {&:focus { outline: 2px solid transparent; outline-offset: 2px; box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5); } }" />
                  <label for="checkbox-all" style="display: none;">checkbox</label>
                </div>
              </th>
              <th scope="col" style="padding: 1rem;">Product0</th>
              <th scope="col" style="padding: 1rem;">Categoria</th>
              <th scope="col" style="padding: 1rem;">Precio</th>
              <th scope="col" style="padding: 1rem;">Stock</th>
              <th scope="col" style="padding: 1rem;">Ventas/Dia</th>
              <th scope="col" style="padding: 1rem;">Ventas/Mes</th>
              <th scope="col" style="padding: 1rem;">Ventas</th>
              <th scope="col" style="padding: 1rem;">Ingresos</th>
              <th scope="col" style="padding: 1rem;">Estado</th>
              <th scope="col" style="padding: 1rem;">Ultima Actualizacion</th>
            </tr>
       </thead


<tbody>
                  {% for producto in productos %}
                      <tr style="border-bottom: 1px solid #ced4da; border-bottom-color: #374151; background-color: #f8f9fa; cursor: pointer;" data-href="{% url 'products:manage' producto.handle %}">
                          <td style="width: 4%; padding: 12px 16px;">
                              <div style="display: flex; align-items: center;">
                                  <input id="checkbox-table-search-1" type="checkbox" onclick="event.stopPropagation()" style="width: 20px; height: 20px; background-color: #e9ecef; border: 1px solid #ced4da; border-radius: 3px; color: #007bff;">
                                  <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                              </div>

                          </td>
<th scope="row" style="display: flex; align-items: center; padding: 12px 16px; font-weight: 500; color: #212529;">
    <img src="{{ producto.image.url }}" alt="{{ producto.name }}" style="width: 24px; height: 24px; margin-right: 8px;">
   <a href="{% url 'products:manage' producto.handle %}">{{ producto.name }} </a>
</th>


                          <td style="padding: 12px 16px; cursor: pointer;">
                              {% for clasi in producto.clasificaciones_padre.all %}
                              <span style="background-color: #e2f2ff; color: #007bff; font-size: 12px; font-weight: 500; padding: 4px 8px; border-radius: 20px;">{{ clasi.nombre }}</span>
                                  {% endfor %}
                          </td>
                      <td style="padding: 12px 16px; font-weight: 500; color: #212529;">${{ producto.price }}</td>
                          <td style="padding: 12px 16px; font-weight: 500; color: #212529;">
                              <div style="display: flex; align-items: center;">
                                  <div style="display: inline-block; width: 12px; height: 12px; margin-right: 4px; border-radius: 50%; background-color: {% if producto.porcentaje < 50 %} #48bb78 {% elif producto.porcentaje > 50 and producto.porcentaje <= 95 %} #facc15 {% else %} #f56565 {% endif %}"></div>
                                  {{ producto.supply }}
                              </div>
                          </td>
                          <td style="padding: 12px 16px; font-weight: 500; color: #212529;">{{ producto.ventas_dia|floatformat:2 }}</td>
                          <td style="padding: 12px 16px; font-weight: 500; color: #212529;">{{ producto.ventas_mes }}</td>
                          <td style="padding: 12px 16px; font-weight: 500; color: #212529;">
                              <div style="display: flex; align-items: center;">
                                  <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor" style="width: 20px; height: 20px; margin-right: 4px; color: #6c757d;" aria-hidden="true">
                                      <path d="M2.25 2.25a.75.75 0 000 1.5h1.386c.17 0 .318.114.362.278l2.558 9.592a3.752 3.752 0 00-2.806 3.63c0 .414.336.75.75.75h15.75a.75.75 0 000-1.5H5.378A2.25 2.25 0 017.5 15h11.218a.75.75 0 00.674-.421 60.358 60.358 0 002.96-7.228.75.75 0 00-.525-.965A60.864 60.864 0 005.68 4.509l-.232-.867A1.875 1.875 0 003.636 2.25H2.25zM3.75 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM16.5 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z" />
                                  </svg>
                                  {{ producto.cantidad}}
                              </div>
                          </td>
                          <td style="padding: 12px 16px; font-weight: 500; color: #212529;">${{ producto.total_sales|floatformat:2 }}</td>
                         <td style="padding: 12px 16px; font-weight: 500; color: #212529;">
    {% if producto.active %}
        <span style="background-color: #28a745; color: #fff; font-weight: bold; padding: 4px 8px; border-radius: 20px;">Activo</span>
    {% else %}
        <span style="background-color: #dc3545; color: #fff; font-weight: bold; padding: 4px 8px; border-radius: 20px;">Inactivo</span>
    {% endif %}
</td>
                          <td style="padding: 12px 16px; font-weight: 500; color: #212529;">{{ producto.updated|date:"d. M, Y" }}</td>
                      </tr>
                     {% endfor %}
                  </tbody>
              </table>
          </div>


          <nav style="display: flex; flex-direction: column; align-items: flex-start; justify-content: space-between; padding: 16px; gap: 16px; flex-direction: row; align-items: center; gap: 0;" aria-label="Table navigation">
  <span style="font-size: 14px; font-weight: 400; color: #6c757d;">
    Showing
    <span style="font-weight: 600; color: #212529;">{{ productos.start_index }}-{{ productos.end_index }}</span>
    of
    <span style="font-weight: 600; color: #212529;">{{ productos.paginator.count }}</span>
  </span>
  <ul style="display: flex; align-items: stretch; gap: -1px;">
    {% if productos.has_previous %}
    <li>
      <a href="?page={{ productos.previous_page_number }}" style="display: flex; align-items: center; justify-content: center; height: 100%; padding: 8px 12px; margin-left: 0; color: #6c757d; background-color: #fff; border-radius: 4px 0 0 4px; border: 1px solid #ced4da; hover:background-color: #e9ecef; hover:color: #495057;">
        <span class="sr-only">Previous</span>
        <svg style="width: 20px; height: 20px;" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
        </svg>
      </a>
    </li>
    {% endif %}

    {% for page_num in productos.paginator.page_range %}
    <li>
      {% if page_num == productos.number %}
      <a href="?page={{ page_num }}" aria-current="page" style="display: flex; align-items: center; justify-content: center; padding: 8px 12px; font-size: 14px; font-weight: 400; color: #007bff; background-color: #e2f2ff; border: 1px solid #ced4da; hover:background-color: #d1ecf1; hover:color: #0056b3;">{{ page_num }}</a>
      {% else %}
      <a href="?page={{ page_num }}" style="display: flex; align-items: center; justify-content: center; padding: 8px 12px; font-size: 14px; font-weight: 400; color: #6c757d; background-color: #fff; border: 1px solid #ced4da; hover:background-color: #e9ecef; hover:color: #495057;">{{ page_num }}</a>
      {% endif %}
    </li>
    {% endfor %}

    {% if productos.has_next %}
    <li>
      <a href="?page={{ productos.next_page_number }}" style="display: flex; align-items: center; justify-content: center; height: 100%; padding: 8px 12px; color: #6c757d; background-color: #fff; border-radius: 0 4px 4px 0; border: 1px solid #ced4da; hover:background-color: #e9ecef; hover:color: #495057;">
        <span class="sr-only">Next</span>
        <svg style="width: 20px; height: 20px;" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
        </svg>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>




      </div>
  </div>
</section>

{% load static %}
<script src="{% static 'js/productos/mis_productos_table.js' %}"></script>

    <style>
    .porcentaje-menor {
  background-color: #48bb78; /* Verde */
}

.porcentaje-medio {
  background-color: #facc15; /* Amarillo */
}

.porcentaje-mayor {
  background-color: #f56565; /* Rojo */
}

.porcentaje-indicador {
  display: inline-block;
  width: 12px; /* Aumenta el ancho */
  height: 12px; /* Aumenta la altura */
  margin-right: 2px;
  border-radius: 50%;
}

  </style>

{% endblock %}

