{% extends 'base.html' %}

{% block content %}
<div class="py-8 px-4 sm:px-6 lg:px-8">
  {% if solicitudes or pedidos_stripe %}
    {% if solicitudes %}
      {% include 'purchases/solicitud/filtro_solicitudes_list.html' %}
      {% include 'purchases/solicitud/tabla_zelle.html' %}
    {% endif %}

    {% if pedidos_stripe %}
      {% include 'purchases/solicitud/filtrar_solicitudes_stripe.html' %}
      {% include 'purchases/solicitud/pedidos_stripe.html' %}
    {% endif %}
  {% else %}
    <div class="bg-white shadow-md rounded-lg p-6 text-center">
      <h2 class="text-2xl font-bold mb-4">No tienes pedidos</h2>
      <p class="text-gray-600 mb-6">Aún no has realizado ningún pedido.</p>
      <a href="{% url 'products:list' %}" class="inline-block bg-blue-500 hover:bg-blue-600 font-bold py-3 px-6 rounded-lg transition duration-300">
        Realizar un pedido
      </a>
    </div>
  {% endif %}
</div>
{% endblock %}

