{% extends 'base.html' %}

{% block content %}

    <style>
    .card {
    border: 1px solid #ccc;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 90%; /* Ajusta el ancho del card al 90% del contenedor */
    max-width: 300px; /* Define el ancho máximo */
    margin: 0 auto; /* Centra el card horizontalmente */
    display: flex; /* Habilita flexbox para el card */
    flex-direction: column; /* Ordena el contenido en columna */
}

.card h2 {
    margin-top: 0;
    font-weight: bold;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 480px) {
    .card {
        width: 100%; /* El card ocupa todo el ancho en pantallas pequeñas */
    }
}
</style>
<div class="bg-white shadow-md rounded-lg p-6">
  <h2 class="text-2xl font-bold mb-4">Pedido #{{ purchase.pk }}</h2>
  <p class="text-gray-600 mb-2">Usuario: {{ purchase.user.username }}</p>
 {% if purchase.completed %} <p class="text-gray-600 mb-2"> Estado de entrega:  {{ purchase.get_entrega_display }}</p> {% endif %}
  <p class="text-gray-600 mb-2">Completado: {% if purchase.completed %}Sí{% else %}No{% endif %}</p>
  <p class="text-gray-600 mb-2">Total: ${{ purchase.stripe_price }}</p>

 {% if solicitud_items %}
  <h3 class="text-xl font-bold mb-4">Productos</h3>
  <ul class="space-y-4">

    {% for item in solicitud_items %}
    <li class="bg-gray-100 rounded-lg p-4">
      <h4 class="text-lg font-bold mb-2">{{ item.product_name_snapshot }}</h4>
      <p class="text-gray-600 mb-2">Cantidad: {{ item.quantity }}</p>
      <p class="text-gray-600 mb-2">Precio unitario: ${{ item.product_price_snapshot}}</p>
     <p class="text-gray-600 mb-2">Subtotal: ${{ item.total_price }}</p>
    </li>
    {% endfor %}

  </ul>
{% endif %}

Destinatario:
<ul id="destinatarios-list">
    <li class="card" data-nombre="{{ purchase.nombre|lower }}">
        <div class="card-content">
            <label for="destinatario-{{ purchase.id }}">
                <h2>{{ purchase.nombre }} {{ purchase.apellidos }}</h2>
                <p>Teléfono: {{ purchase.telefono }}</p>
                <p>Carnet de Identidad: {{ purchase.carnet_de_identidad }}</p>
                <p>Correo Electrónico: {{ purchase.correo_electronico }}</p>
                <p>Dirección: {{ purchase.direccion }}</p>
                <p>Municipio: {{ purchase.municipio }}</p>
                <p>Instrucciones de Entrega: {{ purchase.instrucciones_entrega }}</p>
            </label>
        </div>
    </li>
</ul>
</div>

    {% if user.is_staff %}
<div class="mt-4 flex justify-end">
    {% if purchase.entrega == 'pending' %}
    <a href="{% url 'pedidos_stripe:aceptar' purchase.id  %}" class="btn btn-success mr-2">Aceptar</a>
    <a href="{% url 'pedidos_stripe:cancelar' purchase.id  %}" class="btn btn-danger">Cancelar</a>
    {% elif purchase.entrega == 'onway' %}
    <a href="{% url 'pedidos_stripe:entregar' purchase.id  %}" class="btn btn-success">Entregar</a>
    {% endif %}
</div>
{% endif %}

{% endblock %}