{% extends "base.html" %}

{% block content %}
<style>
    .container {
        
        padding: 16px;
    }
    .card {
        background-color: #ffffff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        overflow: hidden;
    }
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 16px;
    }
    .search-bar {
        display: flex;
        align-items: center;
        width: 100%;
    }
    .search-input {
        width: 50%;
        padding: 8px 10px;
        border: 1px solid #d1d5db;
        border-radius: 4px;
        margin-left: 40px;
    }
    :root {
        --salmon-pink: hsl(353, 100%, 78%);
        --black: black;
    }
    .button {
        padding: 8px 16px;
        background-color: var(--salmon-pink);
        border: 1px solid var(--salmon-pink);
        color: white;
        border-radius: 4px;
        cursor: pointer;
        margin-bottom: 20px;
    }

    .button:hover{
        background-color: var(--black);
        border: 1px solid var(--black);  
    }

    .table {
        width: 100%;
        border-collapse: collapse;
    }
    .table th, .table td {
        padding: 16px;
        border-bottom: 1px solid #ddd;
    }
    .table th {
        background-color: #f8f8f8;
        color: #333;
    }
    .status {
        display: inline-block;
        padding: 8px 16px;
        border-radius: 9999px;
        font-size: 12px;
        font-weight: 500;
    }
    .pending {
        background-color: #fef3c7;
        color: #eab308;
    }
    .canceled {
        background-color: #fee2e2;
        color: #dc2626;
    }
    .delivered {
        background-color: #f0fdf4;
        color: #22c55e;
    }
</style>

<section class="container">
    <div class="card">
        <div class="header">
            <div class="search-bar">
                <input type="text" id="simple-search" class="search-input" placeholder="Buscar" required>
            </div>
            <div>
                <button class="button">Acciones</button>
                <button class="button">Filtrar</button>
            </div>
        </div>
        <div class="overflow-x-auto">
            <table class="table">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Producto</th>
                        <th>Clasificacion</th>
                        <th>Cliente</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                        <th>Fecha</th>
                        <th>Entrega</th>
                    </tr>
                </thead>
                <tbody>
                    {% for venta in ventas %}
                    <tr>
                        <td>
                            <a href="{% url 'pedidos_stripe:ver_venta' venta.id %}">{{ venta.handle }}</a>
                        </td>
                        <td style="display: flex; align-items: center;">
                            <img src="{{ venta.product.image.url }}" alt="{{ venta.product.name }}" style="width: 64px; height: 48px; margin-right: 12px;">
                            {{ venta.product_name_snapshot }}
                        </td>
                        <td>{% for clasi in venta.product.clasificaciones_padre.all %}{{ clasi }}{% endfor %}</td>
                        <td>{% if venta.solicitud.user.email %}{{ venta.solicitud.user.email }} {% else %} {{ venta.solicitud.user.username }}{% endif %}</td>
                        <td>{{ venta.product_price_snapshot }}</td>
                        <td>{{ venta.quantity }}</td>
                        <td>{{ venta.total_price }}</td>
                        <td>{{ venta.solicitud.timestamp|date:"d. M, Y" }}</td>
                        <td>
                            {% if venta.solicitud.entrega == 'pending' %}
                                <span class="status pending">Pending</span>
                            {% elif venta.solicitud.entrega == 'canceled' %}
                                <span class="status canceled">Canceled</span>
                            {% elif venta.solicitud.entrega == 'accepted' %}
                                <span class="status delivered">Delivered</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
