{% extends "base.html" %}

{% block content %}
<div class="bg-gray-100">
    <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
        <h1 class="text-3xl font-extrabold text-gray-900 mb-8">Detalles de la Venta</h1>

        <div class="bg-white rounded-lg shadow-md p-6">
            <div class="flex justify-between items-center mb-4">
                <h2 class="text-xl font-bold text-gray-800">ID de la Venta: {{ venta.pk }}</h2>
                <span class="text-gray-600">Fecha: {{ venta.solicitud.timestamp }}</span>
            </div>

            <div class="flex justify-between items-center mb-4">
                <h3 class="text-lg font-bold text-gray-800">Usuario: {{ venta.solicitud.user.username }}</h3>
                <h3 class="text-lg font-bold text-gray-800">Email: {{ venta.solicitud.user.email }}</h3>
                <span class="text-gray-600">Estado: {{ venta.solicitud.get_entrega_display }}</span>
            </div>

            <div class="mt-4">
                <table class="w-full table-auto responsive">
                    <thead class="bg-gray-50">
                        <tr>
                            <th class="px-4 py-2 text-left text-gray-600 font-bold">Producto</th>
                            <th class="px-4 py-2 text-left text-gray-600 font-bold">Cantidad</th>
                            <th class="px-4 py-2 text-left text-gray-600 font-bold">Precio Unitario</th>
                            <th class="px-4 py-2 text-left text-gray-600 font-bold">Precio Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="px-4 py-2 text-gray-700">{{ venta.product_name_snapshot }}</td>
                            <td class="px-4 py-2 text-gray-700">{{ venta.quantity }}</td>
                            <td class="px-4 py-2 text-gray-700">${{ venta.product_price_snapshot }}</td>
                            <td class="px-4 py-2 text-gray-700">${{ venta.total_price }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}